@import "spinner";

%hidden {
	opacity: 0.3;
	filter: blur(4px);
}

%visible {
	opacity: 1;
	filter: none;
}

.subjects-enter {
	@extend %hidden;
	opacity: 0.01;  
}

.subjects-enter.subjects-enter-active {
	@extend %visible;
}

.subjects-leave {
	@extend %visible;  
	transition: opacity .7s ease-in-out,
							filter .7s ease-in-out;
}

.subjects-leave.subjects-leave-active {
	@extend %hidden;
	opacity: 0;
}

.articles-enter {
	@extend %hidden;
	opacity: 0.01;  
}

.articles-enter.articles-enter-active {
	@extend %visible;
}

li {
	list-style: none;
}

ul.subjects {
	li {
		cursor: pointer;
		width: 100%;
		text-align: center;
		font-family: 'Karnak Pro Bold';
		font-size: 2.33em;
		margin: inherit auto;
		transition: opacity .2s ease-in-out,
								filter .2s ease-in-out;
		
		&.visible {
			@extend %visible
		}
		&.hidden {
			@extend %hidden  	
		}
	}
}

div#articles {
	ul {
		width: 70%;
		margin: 8em auto 0 auto;		
	}
	li {
		margin-top: 4em;
		transition: opacity .2s ease-in-out,
								filter .2s ease-in-out;
		h2 {
			font-family: 'Cheltenham Bold';
			font-size: 2.33em;
			margin-bottom: 0;
		}
		p {
			font-family: 'Georgia';
		}
	}
}

